.expense-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

.expense-form input, select {
  margin-top: 3px;
}

.expense-form label {
  display: contents;
  margin: 0 10px;
  /* flex-direction: row; */
  padding: 5px;
}
