body {
  margin: 0;
  padding: 0;
}
/* 
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(80, 92, 202);
  margin: auto;
  margin-top: 10%;  
  border-radius: 10px;
  text-align: center; 
  height: 400px;
  width: 20%;     
}

.home input {
  border: solid 1px white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;  
}

.home button {
  background-color: rgb(65, 148, 148);
  color: white;
  padding: 5px;
  width: 100px;  
  border: solid 1px white;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;  
} */
