.email-label , .password-label , .login-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 20vh;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
