form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  padding: .1rem;
}

input {
  border-radius: 2px;
  margin-bottom: .5rem;
}

.login {
  margin-bottom: 2rem;
}

button {
  background-color: rgb(88, 124, 245);
  cursor:pointer;
  border-radius: 2px;
  padding: .2rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  transition: .4s;
}

button:disabled {
  cursor: default;
  filter:opacity(0.4)
}