#login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  width: 50%;
}

#enter-button {
  background-color: rgb(14, 212, 14);
  border: 1px solid rgb(14, 212, 14);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
}

#image-login {
  width: 200px;
}

input {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 200px;
}

#title-login-page {
  color: rgb(3, 117, 3);
  font-size: 30px;
  font-weight: 250;
}
