.center {
  display: flex;
  justify-content: center;
  margin: 100px 550px;
  padding: 10px;
}

button {
  margin: 30px 0;
}

section {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 1em rgb(112, 165, 43);
  padding: 50px;
}

form {
  margin: 40px 10px;
}