.container {
  align-items: center;
  background-color: #181b1f;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-container {
  background: #0b0e10;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  height: 40vh;
  padding: 2rem;
  width: 400px;
}

.title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
}

.title p {
  color: #3174bc;
}

.btn-entrar {
  cursor: pointer;

}
