.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}
