.header {
	align-items: center;
  display: flex;
  background-color: rgb(241, 202, 151);
  justify-content: space-around;  
  color: rgb(93, 148, 93);
}
/* 
.title {
  width: 30%;
}

.header-email {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.field {
  display: flex;
  justify-content: space-around;
  width: 40%;
} */
