table {
  text-align: center;
  background-color: white;
  color: black;
  border-collapse:collapse;
  width: 100vw;
}

tr:nth-child(even) {
  width: 100vw;
  background-color: lightgrey;
}

th {
  background-color: white;
  color: black;
  font-weight: 500;
  width: 100vw;
}

tr:hover {
  background-color: darkslategrey;
  color: white
}

td {
  height: 25px;
  width: 100vw;
}

.imageButton {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  margin: 1px 5px;
  padding: 2px;
  width: 24px;
}

