table, th, tr, td {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100vw;
}

td {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100vw;
}

th {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100vw;
}

tr {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100vw;
}