body {
  background-color: #222;
}

table {
  align-self: stretch;
  color: white;
}

td {
  border: 1px solid black;
  text-align: center;
}

th {
  border: 1px solid black;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.login {
  align-items: center;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0 0 3px rgb(223, 222, 222);
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: space-evenly;
  margin-top: 5rem;
  text-align: center;
  width: 29rem;
}

.login button {
  height: 3rem;
  width: 20rem;
}

.login input {
  width: 20rem;
}

.login div {
  margin-bottom: 10px;
  text-align: center;
}

.login img {
  animation: coins 1s ease-out 200ms infinite alternate;
  width: 4rem;
}


@keyframes coins {

  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(90deg);
  }
}

.expense-form {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(100%, -10%);
  transition: 0.5s;
  z-index: 2;
}

.select , .expense-form {
  align-items: center;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0;
  text-align: center;
  width: 400px;
}

.main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

