* {
  padding: 0;
  margin: 0;
}

.headerDiv {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100%;
  height: 5vh;
}