body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.justifyContent-start {
  justify-content: flex-start;
}

.justifyContent-end {
  justify-content: flex-end;
}

.justifyContent-between {
  justify-content: space-between;
}

.justifyContent-around {
  justify-content: space-around;
}

.justifyContent-evenly {
  justify-content: space-evenly;
}

.alignItems-start {
  align-items: flex-start;
}

.alignItems-end {
  align-items: flex-end;
}

.alignItems-strech {
  align-items: stretch;
}

.alignItems-baseline {
  align-items: baseline;
}

.Input {
  margin: 5px;
}
